{% if parameters.targets|length > 0 -%}
I have turned the {% for target in parameters.targets -%}
    {{ target.alias }}{% if not loop.last and loop.index != loop.length - 1 %}, {% elif loop.index == loop.length - 1 %} and {% endif %}
{%- endfor %} {{ " ".join(action.value) }}.
{% else -%}
Sorry, couldn't find lights requested.
{% endif -%}
